* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 41px;
    letter-spacing: 0.41px;
    color: #000000;
    display: block;
    margin-top: 128px;
    margin-left: 16px;
}

p {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.41px;
    color: rgba(0, 0, 0, 0.5);
    display: block;
    margin-top: 12px;
    text-align: left;
    margin: 0 16px;
}

.input-email {
    background: #F2F2F7;
    border-radius: 6px;
    display: block;
    width: 343px;
    height: 48px;
    margin: 102px 16px 12px 16px;
    border: none;
}


.input-password {
    background: #F2F2F7;
    border-radius: 6px;
    display: block;
    width: 343px;
    height: 48px;
    margin-left: 16px;
    border: none;
}

input::placeholder {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.41px;
    color: #929292;
    padding-left: 12px;
}

a {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.41px;
    color: #007AFF;
    display: block;
    text-align: right;
    margin-top: 17px;
    margin-right: 16px;
    text-decoration: none;
}

button {
    background: rgba(0, 0, 0, 0.94);
    border-radius: 10px;
    width: 343px;
    height: 48px;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    text-align: center;
    letter-spacing: -0.41px;
    color: #FFFFFF;
    margin: 20px 16px 0 16px;
    border: none;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%), 0px 4px 4px rgb(0 0 0 / 25%);
}

.link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.51);
    margin-top: 204px;
    margin-bottom: 38px;
    text-align: center;
    display: block;
}

strong {
    color: #80BCFF;
}